a,
.uk-link {
    color: #3366dd;
}

:not(pre)>code,
:not(pre)>kbd,
:not(pre)>samp {
    color: #cc0099;
}

.uk-table th {
    color: #666666;
}

.uk-text-meta,
.uk-text-meta>a {
    color: #666666;
}

.uk-button-primary {
    background-color: #3366cc;
}

.uk-button-primary:hover {
    background-color: #2e5cb8;
}

.uk-button-primary:active,
.uk-button-primary.uk-active {
    background-color: #2952a3;
}

.uk-background-primary {
    background-color: #3366cc;
}

.uk-card-secondary,
.uk-card-secondary.uk-card-hover:hover {
    background-color: #993366;
}

.uk-offcanvas-bar {
    background: #993366;
}

.uk-alert-primary {
    background: #d6e0f5;
    color: #3366cc;
}

.uk-navbar-nav>li>a {
    color: #3366dd;
}

.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a[aria-expanded="true"] {
    color: #cc0099;
}

.uk-iconnav>*>a {
    color: #3366dd;
}

.uk-iconnav>*>a:hover {
    color: #cc0099;
}

// this used to be "@extend .uk-list; @extend .uk-list-square;"
.markdown ul {
    padding: 0;
    padding-left: 30px;
    list-style: none;
    list-style-type: square;
}

.markdown ul>* {
    break-inside: avoid-column;
}

.markdown ul>*> :last-child {
    margin-bottom: 0;
}

.markdown ul> :nth-child(n+2),
.markdown ul>*>ul {
    margin-top: 10px;
}

.site-footer a {
    color: #909090;
}

.no-break {
    break-inside: avoid;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    /* Evenly space logos */
    align-items: center;
    /* Align logos vertically */
    padding: 10px;
    gap: 20px;
    /* Optional: uniform gap between logos */
}