// https://webaim.org/blog/wcag-2-0-and-link-colors/
// https://github.com/uikit/uikit/blob/develop/src/scss/variables-theme.scss
$global-link-color: #3366dd;
$navbar-nav-item-color: #3366dd;
$navbar-nav-item-hover-color: #cc0099;
$iconnav-item-color: #3366dd;
$iconnav-item-hover-color: #cc0099;
$global-primary-background: #3366cc;
$global-secondary-background: #993366;
$base-code-color: #cc0099;
$text-meta-color: #666666;
$table-header-cell-color: #666666;

// https://getuikit.com/docs/sass
@import "../uikit/src/scss/variables-theme.scss";
@import "../uikit/src/scss/mixins-theme.scss";
@import "../uikit/src/scss/uikit-theme.scss";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Roboto.ttf) format('truetype');
}

* {
    font-family: 'Roboto', sans-serif;
}

.markdown ul {
    @extend .uk-list;
    @extend .uk-list-square;

}

$heading-color: #404040;

.markdown h1 {
    @extend .uk-h2;
    color: $heading-color;
}

.markdown h2 {
    @extend .uk-h3;
    color: $heading-color;
}

.markdown h3 {
    @extend .uk-h4;
    color: $heading-color;
}
