# The URL the site will be built for
base_url = "https://coderefinery.org"

title = "CodeRefinery"

description = 'Teaching essential tools so that researchers can make full use of software, computing, and data.'

# Whether to automatically compile all Sass files in the sass directory
compile_sass = true

# Whether to build a search index to be used later on by a JavaScript library
build_search_index = false

# Otherwise blogposts have /blog/2020-04-14-first-online-workshop/
# instead of /blog/2020/04/14/first-online-workshop/
slugify.paths = "off"

generate_feeds = true

# Syntax highlighting settings
[markdown.highlighting]
theme = "one-light"

[link_checker]
# leads sometimes to "too many redirects" but we can assume the DOI links to not break
skip_prefixes = [
    "https://doi.org",
    "http://cicero.xyz",
    "https://cicero.xyz",
    "https://sandbox.zenodo.org",
]
# do not check blog posts for broken external links
ignored_files = [
    "*/content/blog/*",
    "*/content/open-house/*",
]

[extra]
# Put all your custom variables here

plausible = { src = "https://plausible.cs.aalto.fi/js/script.js", domain = "coderefinery.org", github_ref = "refs/heads/main" }
