<div class="container mb">
  <div class="row">
    <div class="col-sm-6">
      <h3 class="text-center top-space">CodeRefinery training</h3>
      <p>
        The key objective of CodeRefinery is to grow researchers' software best practices
        skills to facilitate open and reproducible research.

        We offer training opportunities to researchers from Nordic research groups and projects
        to learn basic-to-advanced research computing skills and become confident in using
        state-of-the-art tools and practices from modern collaborative software
        engineering.

        We offer:
      </p>
      <ul>
        <li><b>Three-day workshops</b> that focus on advanced methods to build modular,
 	reusable, maintainable, sustainable, reproducible, testable, and robust software.</li>
	<li><b>Train the trainer program</b> to build partnerships with Research
        Software Engineers and researchers who are willing to lead skills' transfer
        within their local communities in the Nordics.</li>
      </ul>

      <h3 class="text-center top-space">Membership with <a href="https://carpentries.org">The Carpentries</a></h3>
      <p>
        Since November 2018, <a href="https://neic.no/">NeIC</a> is a
        <a href="https://carpentries.org/members/">Platinum Partner</a> to <a href="https://carpentries.org">The Carpentries</a>,
        an international successful project that comprises <a href="https://software-carpentry.org/">Software Carpentry</a>
        and <a href="http://www.datacarpentry.org/">Data Carpentry</a>,
        communities of Instructors, Trainers, Maintainers, helpers,
        and supporters who share a mission to teach foundational computational and data science skills to researchers.
        With this we have access to:
      </p>
      <ul>
        <li>6 <a href="https://carpentries.org/workshops/">Carpentries workshops</a> in the Nordics each year.</li>
	<li>15 seats in the <a href="https://carpentries.github.io/instructor-training/">Carpentries instructor training</a> each year.</li>
      </ul>
      <p>
        Please <a href="../contact/" target="_blank">get in touch</a> if you would like to host a workshop or become an instructor.
      </p>

      </p>
    </div>
    <div class="col-sm-6">
      <h3 class="text-center top-space">Infrastructure</h3>
      <p>
        Our <a href="../repository/" target="_blank">code repository
	hosting service</a>
	is open and free for all researchers based in Nordic universities and
	research institutes.
      </p>
      <p>
        Please <a href="../contact/" target="_blank">contact us</a> if you would like to use these services.
      </p>

      <h3 class="text-center top-space">Level of our workshops</h3>
      <p>
	Carpentries workshops focus on creating a motivating and engaging environment for
	learners with no or little digital skills while our three day workshops are the next
	step.
	For CodeRefinery workshop, it is assumed that participants already write code
	for their research but no expertise is required.
	Some experience in navigating the file tree and editing
	files in a terminal session is recommended.
	For beginners who don't yet write code but want to get started, we
	highly recommend attending a <a href="https://software-carpentry.org/">Software
	Carpentry workshop</a>.
      </p>
      <p>
	<a href="../workshops/" target="_blank">Our workshops</a> are attended by MSc and
	PhD students, postdocs, researchers and
	more senior staff from a wide range of scientific backgrounds and with different
	programming experiences.
      </p>
    </div>

  </div>

  <h2>Meet the team</h2>
  <div class="row centered">
    {% for person in site.about %}
    {% assign mod = forloop.index | modulo:4 %}
    <div class="col-lg-3 col-md-3 col-sm-3" style="padding-top: 10px">
      <div class="he-wrap tpl6">
	{% if person.photo %}
	<img src="{{ site.baseurl }}/{{ person.photo }}"
             class="mugshot" alt="">
	{% else %}
	<img
           src="https://placeholdit.imgix.net/~text?&txt=&w=350&h=150"
           alt="" class="mugshot">
	{% endif %}
      </div>
      <h4>{{ person.name }}</h4>
      <h5 class="ctitle">{{ person.organization }}</h5>
      <div class="ccontent">
	<p>{{ person.content }}</p>
      </div>
    </div>
    {% if mod == 0 and forloop.last != true %}
  </div>
  <div class="row centered">
    {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-sm-12" style="padding-top: 10px">
      <h2>Partners</h2>
      <ul>
	<li>Richard Darst (Aalto Science-IT): has organized two workshops at Aalto university,
            contributed both as helper and as instructor, and has significantly
            contributed to the "Introduction to version control with Git" lesson</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" style="padding-top: 10px">
      <h2>Alumni</h2>
      <ul>
	<li>Lukas Berger (Technical University of Denmark): work on CI infrastructure</li>
	<li>Erik Edelmann (CSC - IT Center for Science): SGAS software</li>
	<li>Pinja Koskinen (CSC - IT Center for Science): DevOps know-how and lesson material</li>
	<li>Risto Laurikainen (CSC - IT Center for Science): maintained the GitLab service</li>
	<li>Jyry Suvilehto (CSC - IT Center for Science): lesson material,
    training and GitLab</li>
	<li>Sri Harsha Vathsavayi (CSC - IT Center for Science): lesson material and training</li>
	<li>Nikolai Denissov (CSC - IT Center for Science): lesson material and training</li>
      </ul>
    </div>
  </div>
</div>
