<div class="row top-buffer">
  <div class="col">
    <h1>{{ page.title }}</h1>
    <h4>{{ page.subtitle }}</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    {% if page.registration_is_closed %}
      <a href="#" class="btn btn-danger disabled">Registration is closed</a>
    {% else %}
      {% if page.registration_form %}
        <a class="btn btn-success" href="{{ page.registration_form }}" data-mode="1" target="_blank">Register here</a>
      {% else %}
        <a href="#" class="btn btn-primary disabled">Registration will open {{ page.registration_open_date }}</a>
      {% endif %}
    {% endif %}
  </div>
</div>

<div class="row top-buffer">
  <div class="col">
    {{ page.content | markdownify }}
  </div>
</div>
