<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Social Links</h4>
                <div class="hline-w"></div>
                <p>
                    <a href="https://github.com/coderefinery" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://twitter.com/coderefine" target="_blank"><i class="fa fa-twitter"></i></a>
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Contact</h4>
                <div class="hline-w"></div>
                <p>
                    Radovan Bast
                    <br>
                    High Performance Computing Group
                    <br>
                    UiT The Arctic University of Norway
                    <br>
                    +47 776 44117
                    <br>
                    <a href="mailto:#">info@coderefinery.org</a>
                </p>
            </div>
        </div>
    </div>
</div>
