<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row">

  <div class="col-lg">
    <p>
      <strong>Funding</strong>
    </p>
    <p>
      CodeRefinery is a project within the
      <a href="https://neic.no" target="_blank">Nordic e-Infrastructure Collaboration</a> (NeIC).
      NeIC is an organisational unit under <a href="http://www.nordforsk.org/en" target="_blank">NordForsk</a>.
    </p>
  </div>

  <div class="col-lg">
    <p>
      <strong>Follow us</strong>
    </p>
    <p>
      <a href="https://github.com/coderefinery" target="_blank">
        <img src="{{ site.baseurl }}/assets/img/logos/GitHub-Mark-64px.png"
             alt="CodeRefinery GitHub account"
             width="30" height="30">
      </a>
      <a href="https://twitter.com/coderefine" target="_blank">
        <img src="{{ site.baseurl }}/assets/img/logos/Twitter_Social_Icon_Rounded_Square_Color.png"
             alt="CodeRefinery Twitter account"
             width="30" height="30">
      </a>
    </p>
  </div>

  <div class="col-lg">
    <p>
      <strong>Contact</strong>
    </p>
    <p>
      <a href="mailto:support@coderefinery.org">support@coderefinery.org</a>
    </p>
  </div>

</div>
