<div class="container mtb">
    <div class="row">
        <div class="col-sm-12">
            <h1>CodeRefinery {{ page.type }} in {{ page.city }}</h1>
            <h4>{{ page.subtitle }}</h4>

            <h3>Description</h3>
            <p>
	      {{ page.description }}
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3>{{ page.dates }}</h3>
            <h4>{{ page.time }}</h4>

            {% if page.registration_is_closed %}
                <a href="#" class="btn btn-danger disabled">Registration is closed</a>
            {% else %}
                {% if page.registration_form %}
                    <a class="typeform-share btn btn-success" href="{{ page.registration_form }}" data-mode="1" target="_blank">Register here</a>
                    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
                {% else %}
                    <a href="#" class="btn btn-primary disabled">Registration will open {{ page.registration_open_date }} - we have {{ page.num_seats }} seats</a>
                {% endif %}
            {% endif %}
            <br>
            <a href="{{ site.baseurl }}/registration/">More information</a> about the registration procedure.

            <h3>Contact</h3>
            <p>
                {{ page.contact }}
            </p>

            <h3>Schedule</h3>
	    {% for day in page.schedule %}
            {{ day.date }}
            <ul>
              <li>Morning</li>
              <ul>
		{% for item in day.morning %}
		{% if item.url %}
                <li><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></li>
		{% else %}
                <li>{{ item.title }}</li>
		{% endif %}
		{% endfor %}
              </ul>
              <li>Lunch break: 12:00 - 13:00</li>
              <li>Afternoon</li>
              <ul>
		{% for item in day.afternoon %}
		{% if item.url %}
                <li><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></li>
		{% else %}
                <li>{{ item.title }}</li>
		{% endif %}
		{% endfor %}
              </ul>
            </ul>
	    {% endfor %}
        </div>

        <div class="col-sm-6">
            <h3>Location</h3>
            <p>
                {{ page.location }}
            </p>

            <h3>Price</h3>
            <p>
                Free of charge.
            </p>

            <h3>Who should join?</h3>
            <p>
                {{ page.whofor }}
            </p>

            <h3>Organizers</h3>
            <ul>
                {% for organizer in page.organizers %}
                    <li>{{ organizer }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
