<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h3>Training and Infrastructure for Sustainable Research Software Development</h3>
                <h1>CodeRefinery</h1>
                <h5>A Nordic e-Infrastructure Collaboration Project</h5>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <a name="about"></a>
    <div class="row">
        <div class="col-sm-8">
            <h3 class="text-center top-space">About the project</h3>
            <p>
               The goal of this project is to teach students and researchers how to write better
               code and provide research groups with software development e-infrastructure tools
               to collaboratively develop, review, discuss, test, and share their codes.
            </p>

            <p>
               We address all academic disciplines and try to be language independent in our workshops.
               We address students and researchers who already write code.
            </p>

            <p>
               This is a project within the
               <a href="https://neic.nordforsk.org" target="_blank">Nordic e-Infrastructure Collaboration</a> (NeIC).
               NeIC is an organisational unit under <a href="http://www.nordforsk.org/en" target="_blank">NordForsk</a>.
            </p>

            <div class="row">
                <div class="col-sm-6">
                    <h3 class="text-center top-space">Training</h3>
                    <p>
                        Train Nordic research groups and projects in
                        state-of-the-art tools and practices in modern collaborative software
                        engineering to build modular, reusable, maintainable, sustainable,
                        reproducible, testable, and robust software.
                    </p>
                </div>
                <div class="col-sm-6">
                    <h3 class="text-center top-space">Infrastructure</h3>
                    <p>
                        Assist groups in migrating from ad-hoc in-house
                        solutions to collaborative infrastructure encouraging code review and automated
                        testing.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <a class="twitter-timeline" data-height="500" href="https://twitter.com/coderefine">Tweets by coderefine</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>

<div class="container">
    <a name="partners"></a>
    <h2 class="text-center top-space">Partners</h2>
    <div class="row">
        {% for partner in site.partners %}
        <div class="col-md-15 col-sm-3">
            <div class="centered">
                <table>
                    <tr height="150px">
                        <td>
                            <a href="{{ partner.website }}" target="_blank"><img src="{{ partner.logo }}" alt="{{ partner.name }} logo" style="width:120px"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{ partner.name }}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
