<div class="row top-buffer-more">
</div>

<div class="row top-buffer">
  <div class="col-sm-4">
    <img src={{ page.main.image }} alt="" class="pull-left mr-2" width="100%"/>
  </div>
  <div class="col-sm-8">
    <h2>{{ page.main.title }}</h2>
    <p>
      {{ page.main.text }}
    </p>
  </div>
</div><!-- row -->

<div class="row top-buffer">
  <div class="col-md-4">
    {% if page.widget1.title %}
      {% include widget.html widget=page.widget1 %}
    {% endif %}
  </div>
  <div class="col-md-4">
    {% if page.widget2.title %}
      {% include widget.html widget=page.widget2 %}
    {% endif %}
  </div>
  <div class="col-md-4">
    {% if page.widget3.title %}
      {% include widget.html widget=page.widget3 %}
    {% endif %}
  </div>
</div><!-- row -->

<div class="row top-buffer">
  <div class="col-sm-12">
    <h2>Stay informed and connected</h2>
  <div>
</div><!-- row -->

<div class="row">
  <div class="col-md-4">
    <a class="twitter-timeline" data-width="500" data-height="300" href="https://twitter.com/coderefine">Tweets by coderefine</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="col-md-8 top-buffer">
    <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/coderefinery" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/coderefinery', 'popupwindow', 'scrollbars=yes,width=600,height=600');return true"><p><label for="tlemail">Enter your email address to sign up for the CodeRefinery newsletter</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>
  </div>
</div><!-- row -->
