<div class="container mtt">

    <div class="row">
        <div class="col-sm-8">
            <br>
            <h3>Training and e-Infrastructure for Research Software Development</h3>

            <div class="col-sm-4">
                <br>
                <br>
                <img src="assets/img/logos/coderefinery.png" alt="CodeRefinery logo" style="width:250px">
            </div>

            <div class="col-sm-8">
                <p>
                   The goal of this project is to teach students and researchers how to write better
                   code and provide research groups with software development e-infrastructure tools
                   to collaboratively develop, review, discuss, test, and share their codes.
                </p>

                <p>
                   We address all academic disciplines and try to be as programming
                   language-independent as possible in our workshops.  We address students and
                   researchers who already write code.
                </p>

                <p>
                   This is a project within the
                   <a href="https://neic.no" target="_blank">Nordic e-Infrastructure Collaboration</a> (NeIC).
                   NeIC is an organisational unit under <a href="http://www.nordforsk.org/en" target="_blank">NordForsk</a>.
                </p>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3 class="text-center top-space">Training</h3>
                    <p>
                        Train Nordic research groups and projects in
                        state-of-the-art tools and practices in modern collaborative software
                        engineering to build modular, reusable, maintainable, sustainable,
                        reproducible, testable, and robust software.
                    </p>
                </div>
                <div class="col-sm-6">
                    <h3 class="text-center top-space">Infrastructure</h3>
                    <p>
                        We provide <a href="repository/" target="_blank">code repository hosting</a> for Nordic research software
                        as well as a contiuous integration service for automated testing.
                        Please <a href="contact/" target="_blank">contact us</a> if you would like to use these services.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h3 class="text-center top-space">Impact</h3>
                    <p>
		      The long-term impact of CodeRefinery workshops is measured through a 
		      post-workshop survey which is sent out to all former participants 3-6 months 
		      after attending a workshop. 
		      The two graphs below show how former participants use various software development tools
		      after attending a workshop (left), and how their code and collaboration with colleagues has changed (right).
		      These results are based on 71 survey responses obtained to date -- 48% of which are Graduate students, 13% postdocs,
		      9% researchers, 9% Assistant/Associate/Full professors and 19% other occupations (e.g staff scientists, scientific programmers).
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-40">
                      <img src="assets/img/tools_heatmap.png" alt="Post-workshop survey" style="float:left; width:400px">
                      <img src="assets/img/yes_no_questions.png" alt="Post-workshop survey" style="float:right; width:370px">
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <a class="twitter-timeline" data-height="1000" href="https://twitter.com/coderefine">Tweets by coderefine</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>

<div class="container">
    <a name="partners"></a>
    <h2 class="text-center top-space">Partners</h2>
    <div class="row">
        {% for partner in site.partners %}
        <div class="col-md-15 col-sm-3">
            <div class="centered">
                <table>
                    <tr height="100px">
                        <td>
                            <a href="{{ partner.website }}" target="_blank"><img src="{{ partner.logo }}" alt="{{ partner.name }} logo" style="width:120px"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{ partner.name }}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
