<div id="mapid" style="width: 100%; height: 500px;"></div>
<script>
    var mymap = L.map('mapid').setView([63.0, 2.0], 4);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(mymap);

    L.marker([67.850, 20.2166667]).addTo(mymap)
            .bindPopup('<a href="http://coderefinery.org/workshops/2018-11-21-kiruna/" target="_blank">Kiruna, November 21-23, 2018</a>');

    L.marker([64.1396, -21.9519]).addTo(mymap)
            .bindPopup('<a href="http://coderefinery.org/workshops/2018-08-21-reykjavik/" target="_blank">Reykjavik, August 21-23, 2018</a>');

    L.marker([60.178511, 24.833543]).addTo(mymap)
            .bindPopup('<a href="http://coderefinery.org/workshops/2016-12-14-espoo/" target="_blank">Espoo, December 14-16, 2016</a>'
                     + '<br>'
                     + '<a href="http://coderefinery.org/workshops/2017-12-12-espoo/" target="_blank">Espoo, December 12-14, 2017</a>'
                     + '<br>'
                     + '<a href="http://coderefinery.org/workshops/2018-05-29-espoo/" target="_blank">Espoo, May 29-31, 2018</a>');

    L.marker([59.348098, 18.074881]).addTo(mymap)
            .bindPopup('<a href="http://coderefinery.org/workshops/2017-02-20-stockholm/" target="_blank">Stockholm, February 20-22, 2017</a>');

    L.marker([55.786136, 12.523749]).addTo(mymap)
            .bindPopup('<a href="http://coderefinery.org/workshops/2017-05-09-copenhagen/" target="_blank">Copenhagen, May 9-11, 2017</a>');

    L.marker([69.6798, 18.9710]).addTo(mymap)
            .bindPopup('<a href="http://coderefinery.org/workshops/2017-06-19-tromso/" target="_blank">Tromsø, June 19-21, 2017</a>');

    L.marker([56.1681, 10.2030]).addTo(mymap)
            .bindPopup('<a href="http://coderefinery.org/workshops/2017-10-24-aarhus/" target="_blank">Aarhus, October 24-26, 2017</a>');

    L.marker([58.3978, 15.5760]).addTo(mymap)
            .bindPopup('<a href="http://coderefinery.org/workshops/2017-11-07-linkoeping/" target="_blank">Linköping, November 7-9, 2017</a>');

    L.marker([63.4208, 10.3928]).addTo(mymap)
            .bindPopup('<a href="http://coderefinery.org/workshops/2018-02-27-trondheim/" target="_blank">Trondheim, February 27 - March 1, 2018</a>');

    L.marker([60.4493, 22.2952]).addTo(mymap)
            .bindPopup('<a href="http://coderefinery.org/workshops/2018-03-20-turku/" target="_blank">Turku, March 20-22, 2018</a>');

    L.marker([55.715043, 13.212401]).addTo(mymap)
            .bindPopup('<a href="http://coderefinery.org/workshops/2018-05-15-lund/" target="_blank">Lund, May 15-17, 2018</a>');

    L.marker([59.94347, 10.718161]).addTo(mymap)
            .bindPopup('<a href="http://coderefinery.org/workshops/2018-06-12-oslo/" target="_blank">Oslo, June 12-14, 2018</a>');

    L.marker([53.4772, -2.2548]).addTo(mymap)
            .bindPopup('<a href="http://rse.ac.uk/conf2017/workshop-and-tutorial-abstracts/#mixed-martial-arts-with-coderefinery" target="_blank">Manchester, September 8, 2017</a>');

    L.marker([63.8258, 20.2630]).addTo(mymap)
            .bindPopup('<a href="http://neic2017.nordforsk.org/workshops/coderefinery/" target="_blank">Umeå, May 29, 2017</a>'
                     + '<br>'
                     + '<a href="http://coderefinery.org/events/2017-10-16-umea/" target="_blank">Umeå, October 16, 2017</a>');
</script>
