<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      {% for item in site.data.navigation.main %}
        {% if item.section %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ item.section }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% for i in item.links %}
                {% if i.url contains "http" %}
                  <a class="dropdown-item" href="{{ i.url }}" target="_blank">{{ i.text }}</a>
                {% else %}
                  <a class="dropdown-item" href="{{ site.baseurl }}{{ i.url }}">{{ i.text }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            {% if item.url contains "http" %}
              <a class="nav-link" href="{{ item.url }}" target="_blank">{{ item.text }}</a>
            {% else %}
              <a class="nav-link" href="{{ site.baseurl }}{{ item.url }}">{{ item.text }}</a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
