<div class="container mtb">
    <a name="partners"></a>
    <h2 class="text-center top-space">Partners</h2>
    {% for partner in site.partners %}
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <h3>{{ partner.name }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <a href="{{ partner.website }}" target="_blank"><img src="{{ site.baseurl }}/{{ partner.logo }}" alt="{{ partner.name }} logo" style="width:8vw"></a>
            </div>
            <div class="col-sm-8">
                <p>{{ partner.content }}</p>
            </div>
        </div>
    {% endfor %}
</div>
