<div class="container mb">
    <div class="row centered">
        {% for person in site.team %}
            {% assign mod = forloop.index | modulo:4 %}
            <div class="col-lg-3 col-md-3 col-sm-3" style="padding-top: 10px">
                <div class="he-wrap tpl6">
                    {% if person.photo %}
                        <img src="{{ site.baseurl }}/{{ person.photo }}"
                        class="mugshot" alt="">
                    {% else %}
                        <img
                        src="https://placeholdit.imgix.net/~text?&txt=&w=350&h=150"
                        alt="" class="mugshot">
                    {% endif %}
                </div>
                <h4>{{ person.name }}</h4>
                <h5 class="ctitle">{{ person.organization }}</h5>
                	<div class="ccontent">
                		<p>{{ person.content }}</p>
               		</div>
            </div>
            {% if mod == 0 and forloop.last != true %}
                </div>
                <div class="row centered">
            {% endif %}
        {% endfor %}
    </div>
</div>
