<div class="container mb">
    <div class="row centered">
        {% for person in site.team %}
            {% assign mod = forloop.index | modulo:4 %}
            <div class="col-lg-3 col-md-3 col-sm-3" style="padding-top: 10px">
                <div class="he-wrap tpl6">
                    {% if person.photo %}
                        <img src="{{ site.baseurl }}/{{ person.photo }}"
                        class="mugshot" alt="">
                    {% else %}
                        <img
                        src="https://placeholdit.imgix.net/~text?&txt=&w=350&h=150"
                        alt="" class="mugshot">
                    {% endif %}
                </div>
                <h4>{{ person.name }}</h4>
                <h5 class="ctitle">{{ person.organization }}</h5>
                	<div class="ccontent">
                		<p>{{ person.content }}</p>
               		</div>
            </div>
            {% if mod == 0 and forloop.last != true %}
                </div>
                <div class="row centered">
            {% endif %}
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-sm-12" style="padding-top: 10px">
            <h2>Continuous integration service</h2>
            <p>
              With support from The Danish National Life Science Supercomputing Center.
              Computerome is a HPC Facility specialized for Life Science. Users include Research groups from all Danish Universities
              and large international research consortiums as well as users from industry and the Health Care.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" style="padding-top: 10px">
            <h2>Alumni</h2>
            <ul>
                <li>Lukas Berger (Technical University of Denmark): work on CI infrastructure</li>
                <li>Pinja Koskinen (CSC - IT Center for Science): DevOps know-how and lesson material</li>
                <li>Risto Laurikainen (CSC - IT Center for Science): maintained the GitLab service</li>
            </ul>
        </div>
    </div>
</div>
