<div class="row top-buffer">
  <div class="col">
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <ul>
      {% for event in site.workshops reversed %}
        {% unless event.exclude %}
        {% unless event.postponed %}
          {% capture nowyear %}{{'now' | date: '%Y'}}{% endcapture %}
          {% capture nowday %}{{'now' | date: '%j'}}{% endcapture %}
          {% capture postmonth %}{{event.dates | date: '%b'}}{% endcapture %}
          {% capture postday %}{{event.dates | date: '%j'}}{% endcapture %}
          {% capture postyear %}{{event.dates | split: ", " | last }}{% endcapture %}
          {% assign postday = postday | plus: 0 %}
          {% assign nowday = nowday | minus: 2 %}
          {% if postyear > nowyear or postday >= nowday and postyear >= nowyear %}
            {% if event.permalink %}
              <li><a href="{{ event.permalink }}" target="_blank">{{ event.city }}, {{ event.dates }}</a></li>
            {% else %}
              <li>{{ event.city }}, {{ event.dates }}</li>
            {% endif %}
          {% endif %}
        {% endunless %}
        {% endunless %}
      {% endfor %}

      {% for event in site.events reversed %}
        {% unless event.postponed %}
        {% capture nowyear %}{{'now' | date: '%Y'}}{% endcapture %}
        {% capture nowday %}{{'now' | date: '%j'}}{% endcapture %}
        {% capture postmonth %}{{event.dates | date: '%b'}}{% endcapture %}
        {% capture postday %}{{event.dates | date: '%j'}}{% endcapture %}
        {% capture postyear %}{{event.dates | split: ", " | last }}{% endcapture %}
        {% assign postday = postday | plus: 0 %}
        {% assign nowday = nowday | minus: 2 %}
        {% if postyear > nowyear or postday >= nowday and postyear >= nowyear %}
          {% if event.permalink %}
            <li><a href="{{ event.permalink }}" target="_blank">
                {% if event.type %}
                {{ event.city }} {{ event.type }}, {{ event.dates }}
                {% else %}
                {{ event.city }}, {{ event.dates }}
                {% endif %}
            </a></li>
          {% else %}
            <li>{{ event.city }} {{ event.type }}, {{ event.dates }}</li>
          {% endif %}
        {% endif %}
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
</div>



<div class="row">
  <div class="col">
    {{ page.content | markdownify }}
  </div>
</div>
