<div class="container mb">
      <h2>Upcoming workshops and events</h2>
      <ul>
        {% for event in site.workshops reversed %}
        {% unless event.exclude %}
        {% capture nowyear %}{{'now' | date: '%Y'}}{% endcapture %}
        {% capture nowday %}{{'now' | date: '%j'}}{% endcapture %}
        {% capture postmonth %}{{event.dates | date: '%b'}}{% endcapture %}
        {% capture postday %}{{event.dates | date: '%j'}}{% endcapture %}
        {% capture postyear %}{{event.dates | split: ", " | last }}{% endcapture %}
        {% assign postday = postday | plus: 0 %}
        {% assign nowday = nowday | minus: 2 %}
        {% if postyear > nowyear or postday >= nowday and postyear >= nowyear %}
        {% if event.permalink %}
        <li><a href="{{ event.permalink }}" target="_blank">{{ event.city }}, {{ event.dates }}</a></li>
        {% else %}
        <li>{{ event.city }}, {{ event.dates }}</li>
        {% endif %}
        {% endif %}
        {% endunless %}
        {% endfor %}
	
        {% for event in site.events reversed %}
        {% capture nowyear %}{{'now' | date: '%Y'}}{% endcapture %}
        {% capture nowday %}{{'now' | date: '%j'}}{% endcapture %}
        {% capture postmonth %}{{event.dates | date: '%b'}}{% endcapture %}
        {% capture postday %}{{event.dates | date: '%j'}}{% endcapture %}
        {% capture postyear %}{{event.dates | split: ", " | last }}{% endcapture %}
        {% assign postday = postday | plus: 0 %}
        {% assign nowday = nowday | minus: 2 %}
        {% if postyear > nowyear or postday >= nowday and postyear >= nowyear %}
        {% if event.permalink %}
        <li><a href="{{ event.permalink }}" target="_blank">
            {% if event.type %}
            {{ event.city }} {{ event.type }}, {{ event.dates }}
            {% else %}
            {{ event.city }}, {{ event.dates }}
            {% endif %}
        </a></li>
        {% else %}
        <li>{{ event.city }} {{ event.type }}, {{ event.dates }}</li>
        {% endif %}
        {% endif %}
        {% endfor %}
	
      </ul>
      <h4>Past workshops</h4>
      <p>
	See <a href="../past-workshops" target="_blank">this page</a> for a list of past workshops.
      <h4>Notify me</h4>
      <p>
        We don't want you to miss a workshop or event.
        Sign up
        <a href="https://goo.gl/forms/DLp3d0CzkAnwS2GX2" target="_blank">here</a>
        and we will notify you when the registration to a workshop or event near you opens.
        Or subscribe to our <a href="../feed-workshops/">workshops</a> and <a href="../feed-events/">events</a> RSS feeds.
      </p>
      
      <h4>Privacy policy</h4>
      <p>
        Our
        <a href="../privacy-policy">privacy policy</a>
        documents what registration data we store, where, and why.
      </p>
          
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">

          <p>

          </p>
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </div>
</div>
    
