<div class="container mb">
      <ul>
        {% for event in site.workshops reversed %}
        {% unless event.exclude %}
        {% capture nowyear %}{{'now' | date: '%Y'}}{% endcapture %}
        {% capture nowday %}{{'now' | date: '%j'}}{% endcapture %}
        {% capture postmonth %}{{event.dates | date: '%b'}}{% endcapture %}
        {% capture postday %}{{event.dates | date: '%j'}}{% endcapture %}
        {% capture postyear %}{{event.dates | split: ", " | last }}{% endcapture %}
        {% assign postday = postday | plus: 0 %}
        {% assign nowday = nowday | minus: 2 %}
        {% if postyear > nowyear or postday >= nowday and postyear >= nowyear %}
        {% if event.permalink %}
        <li><a href="{{ event.permalink }}" target="_blank">{{ event.city }}, {{ event.dates }}</a></li>
        {% else %}
        <li>{{ event.city }}, {{ event.dates }}</li>
        {% endif %}
        {% endif %}
        {% endunless %}
        {% endfor %}

        {% for event in site.events reversed %}
        {% capture nowyear %}{{'now' | date: '%Y'}}{% endcapture %}
        {% capture nowday %}{{'now' | date: '%j'}}{% endcapture %}
        {% capture postmonth %}{{event.dates | date: '%b'}}{% endcapture %}
        {% capture postday %}{{event.dates | date: '%j'}}{% endcapture %}
        {% capture postyear %}{{event.dates | split: ", " | last }}{% endcapture %}
        {% assign postday = postday | plus: 0 %}
        {% assign nowday = nowday | minus: 2 %}
        {% if postyear > nowyear or postday >= nowday and postyear >= nowyear %}
        {% if event.permalink %}
        <li><a href="{{ event.permalink }}" target="_blank">
            {% if event.type %}
            {{ event.city }} {{ event.type }}, {{ event.dates }}
            {% else %}
            {{ event.city }}, {{ event.dates }}
            {% endif %}
        </a></li>
        {% else %}
        <li>{{ event.city }} {{ event.type }}, {{ event.dates }}</li>
        {% endif %}
        {% endif %}
        {% endfor %}

      </ul>


    <div class="row">
        <div class="col-sm-8">
            {{ page.content | markdownify }}
        </div>
    </div>

</div>
