<div class="row centered top-buffer">
  <div class="col">
    <h2>Meet the team</h2>
  </div>
</div>

<div class="row centered top-buffer">
  {% for person in site.people %}
    <div class="col-lg-3 col-md-3 col-sm-3" style="padding-top: 10px">
      {% if person.photo %}
        <img src="{{ site.baseurl }}/{{ person.photo }}" class="mugshot" alt="">
      {% else %}
        <img src="https://placeholdit.imgix.net/~text?&txt=&w=350&h=150" alt="" class="mugshot">
      {% endif %}
      <h4 class="top-buffer">{{ person.name }}</h4>
      <p class="ctitle">{{ person.organization }}</p>
      <p><small>{{ person.content }}</small></p>
    </div>
  {% endfor %}
</div>

<div class="row top-buffer">
  <div class="col">
    <h2>Our teaching philosophies</h2>
      <p>
        On
        <a href="https://coderefinery.github.io/instructor-training/02-teaching-philosophies/"
           target="_blank">
          this page
        </a>
	our instructors share their teaching philosophies in short recorded
	videos.
      </p>
  </div>
</div>

<div class="row top-buffer">
  <div class="col">
    <h2>Who's the team?</h2>
      <p>
        The team consists of volunteers, usually paid as part of
        their work, and CodeRefinery staff paid by NeIC.  If you are
        an instructor for two workshops or otherwise consistently
        contribute to material or CodeRefinery organization, and
        occasionally come to our online meetings, please request to
        be added to the list above.  Likewise, we remove people
        after they are inactive for a year.
      </p>
      <p>
        CodeRefinery is evolving to a collaborative project - join us!
      </p>
  </div>
</div>

<div class="row top-buffer">
  <div class="col">
    <h2>Alumni</h2>
    <ul>
      <li>João M. da Silva (CSC - IT Center for Science): lesson material and training</li>
      <li>Sri Harsha Vathsavayi (CSC - IT Center for Science): lesson material and training</li>
      <li>Jyry Suvilehto (CSC - IT Center for Science): lesson material,
      <li>Risto Laurikainen (CSC - IT Center for Science): maintained the GitLab service</li>
      <li>Pinja Koskinen (CSC - IT Center for Science): DevOps know-how and lesson material</li>
      <li>Erik Edelmann (CSC - IT Center for Science): SGAS software</li>
  training and GitLab</li>
      <li>Lukas Berger (Technical University of Denmark): work on CI infrastructure</li>
    </ul>
  </div>
</div>
