<div class="container mb">
    <div class="row">
        <div class="col-sm-12">
            <p>
		We organize a road-show of hands-on informal and interactive
                three-day workshops across the Nordics with type-along type of presentations,
                live coding and demos. Short tutorials alternate with practical exercises.
                If you are interested in these workshops, please get in touch!
            </p>
            <p>
		The format of CodeRefinery workshops with live demonstrations and interactive learning places some 
		constraints on the workshop venue. We have therefore prepared 
		<a href="../workshop-requirements">a list of practical requirements</a>.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Notify me</h3>
            <p>
		We don't want you to miss a workshop and we also understand that you don't want
                to check our website twice a day for updates.
		Sign up
                <a href="https://goo.gl/forms/DLp3d0CzkAnwS2GX2" target="_blank">here</a>
                and we will notify you when the registration to a workshop near you opens.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h3>Scheduled workshops</h3>
            <ul>
                {% for workshop in site.workshops %}
                    {% if workshop.status != 'past' %}
                        <li><a href="{{ workshop.permalink }}">{{ workshop.city }}, {{ workshop.dates }}</a></li>
                    {% endif %}
                {% endfor %}
                <li>Sep 8, 2017 - Manchester</li>
                <li>Oct 16, 2017 - Umeå</li>
                <li>Oct 24-26, 2017 - Aarhus</li>
                <li>Nov 7-9, 2017 - Linköping</li>
                <li>Dec 12-14, 2017 - Espoo</li>
            </ul>
        </div>

        <div class="col-sm-4">
            <h3>Past workshops</h3>
            <ul>
                {% for workshop in site.workshops %}
                    {% if workshop.status == 'past' %}
                        <li><a href="{{ workshop.permalink }}">{{ workshop.city }}, {{ workshop.dates }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="col-sm-4">
            <h3>Planned workshops</h3>
            <ul>
                <li>Feb 2018 - Trondheim</li>
                <li>Mar 2018 - Turku</li>
                <li>Apr 2018 - Odense</li>
                <li>May 2018 - Uppsala</li>
                <li>Jun 2018 - Oslo</li>
            </ul>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-4">
            <h3>Scheduled events</h3>
            <ul>
                {% for event in site.events %}
                    {% if event.status != 'past' %}
                        <li><a href="{{ event.permalink }}">{{ event.city }}, {{ event.dates }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="col-sm-4">
            <h3>Past events</h3>
            <ul>
                {% for event in site.events %}
                    {% if event.status == 'past' %}
                        <li><a href="{{ event.permalink }}">{{ event.city }}, {{ event.dates }}</a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="http://neic2017.nordforsk.org/workshops/coderefinery/">Umeå, May 29, 2017</a></li>
            </ul>
        </div>
    </div>


</div>
