<div class="container mtb">

    <div class="container-fluid">
      <div class="front_columns">
        <div class="row centered">
          <img src={{ page.main.image }} alt="" class="pull-left mr-2" width="360"/>
        </div> <!-- columns -->
        <div class="row left">
	  <div class="ccontent">
            <h2>{{ page.main.title }}</h2>
	    <div class="front">
	      {{ page.main.text }}
            </div>
	  </div>
	</div>
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="col-sm-6">
        {% if page.widget1.title %}
        {% include _workshop-widget.html widget=page.widget1 %}
        {% endif %}
      </div>
      <div class="col-sm-6">
        {% if page.widget2.title %}
        {% include _workshop-widget.html widget=page.widget2 %}
        {% endif %}
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-sm-6">
        {% if page.widget3.title %}
        {% include _workshop-widget.html widget=page.widget3 %}
        {% endif %}
      </div><!-- columns -->
      <div class="col-sm-6">
        {% if page.widget4.title %}
        {% include _workshop-widget.html widget=page.widget4 %}
        {% endif %}
      </div><!-- columns -->
    </div>

</div>
