<div class="container mtb">
  <div class="row">
    <div class="col-sm-12">
      <h1>CodeRefinery workshop in {{ page.city }}</h1>
      <h4>Teaching researchers in sustainable software development</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h3>{{ page.dates }}, {{ page.time }}</h3>

      {% if page.registration_is_closed %}
        <a href="#" class="btn btn-danger disabled">Registration is closed</a>
      {% else %}
        {% if page.registration_form %}
          <a class="typeform-share btn btn-success" href="{{ page.registration_form }}" data-mode="1" target="_blank">Register here</a>
          <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
        {% else %}
          <a href="#" class="btn btn-primary disabled">Registration will open {{ page.registration_open_date }} - we have {{ page.num_seats }} seats</a>
        {% endif %}
      {% endif %}
      <br>

      <h3>Contact</h3>
      <p>
        {{ page.contact }}
      </p>

      <h3>Format</h3>
      <p>
        Hands-on informal and interactive three-day event with type-along type of
        presentations, live coding and demos. Short tutorials alternate with practical
        exercises.
      </p>

      <h3><font color="red">Software requirements</font></h3>
      {% if page.software %}
        <p>
          Please follow the links below and make sure that you install all the required software packages
          (<a href="https://coderefinery.github.io/installation/#why-are-we-asking-participants-to-install-software" target="_blank">why we ask you to do this</a>).
          Note that, e.g., a working Python executable on your laptop is not
          sufficient - a version greater than 3.4 is strongly recommended
          and a number of extra packages need to be installed as detailed on the Python installation page.
        </p>
        <ul>
          {% for item in page.software %}
            {% if item.url %}
              <li><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></li>
            {% else %}
              <li>{{ item.title }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        <p>
          Please follow our <a href="https://coderefinery.github.io/installation/" target="_blank">installation instructions</a>.
        </p>
      {% endif %}

      <h3>Schedule</h3>
      {% for day in page.schedule %}
        {{ day.date }}
        <ul>
          <li>Morning</li>
          <ul>
            {% for item in day.morning %}
              {% if item.url %}
                <li><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></li>
              {% else %}
                <li>{{ item.title }}</li>
              {% endif %}
            {% endfor %}
          </ul>
          <li>Lunch break: 12:00 - 13:00</li>
          <li>Afternoon</li>
          <ul>
            {% for item in day.afternoon %}
              {% if item.url %}
                <li><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></li>
              {% else %}
                <li>{{ item.title }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </ul>
      {% endfor %}
    </div>

    <div class="col-sm-6">
      <h3>Location</h3>
      <p>
        {{ page.location }}
      </p>

      <h3>Time</h3>
      <p>
        {{ page.time }}
      </p>

      <h3>Price</h3>
      <p>
        Free of charge.
      </p>

      <h3>Course goals</h3>
      {% if page.goals %}
        <p>
	  {{ page.goals }}
        </p>
      {% else %}
        <p>
          The aim of this course is to demonstrate to and familiarize
          the workshop participants with best practices and tools in modern research
          software development. The main focus is on professional tools
          for efficiently developing and maintaining research software.
          Since most research code is developed in a collaborative
          setting, we will discuss tools and workflows which facilitate
          this process. Most of the content is also relevant to
          a single developer.
        </p>
      {% endif %}

      <h3>Who the course is for</h3>
      <p>
        Are you doing any of these things below:
      </p>
      <ul>
        <li>You write scripts to process data.</li>
        <li>You change scripts written by your colleagues.</li>
        <li>You write code that is used in research by you or others.</li>
      </ul>
      <p>
	If yes, then this course is for you.  Most participants are not
        "professional code developers" or computer scientists.
      </p>
      <p>
        If you develop research code and you know all the tools
        already, join us as a helper! It's fun, and you always learn
        something new about a subject by teaching it.
      </p>

      <h3>What we will not teach</h3>
      <p>
	This is not a course about a specific programming language or
        the Linux/Unix terminal shell.  We assume that you are familiar with the programming
        language that you use in your work and research.  We try to keep the course as
        language-independent as possible but we will show some basic code examples in
        Python.
      </p>

      <h3>Prerequisites</h3>
      <ul>
        <li>You should be able to navigate the file tree in a terminal session and edit text files in the terminal.</li>
        <li>Basics in at least one programming language.</li>
        <li>You will need to bring a laptop.</li>
        <li>It is good if you have access to Eduroam.</li>
        <li>You need to install some software. Please follow links in the schedule.
        <li>It is useful if you have a basic idea of how Git works. We will start from the basics, but please go through <a href="https://coderefinery.github.io/git-refresher/">this Git-refresher material</a> for a basic overview and important configuration steps.
      </ul>

      <h3>Instructors</h3>
      <ul>
        {% for instructor in page.instructors %}
          <li>{{ instructor }}</li>
        {% endfor %}
      </ul>

      <h3>Helpers</h3>
      <p>
        (<a href="https://github.com/coderefinery/manuals/blob/master/helping-and-teaching.md"
            target="_blank">tips for helpers</a>)
      </p>
      <ul>
        {% for helper in page.helpers %}
          <li>{{ helper }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
