<div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
  <div>
    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
      <a href="/workshops/upcoming/">
        {% set classroom = resize_image(path="img/classroom.png", width=200, op="fit_width") %}
        <img src="{{ classroom.url }}"
             alt="picture of a classroom"/>
      </a>
      <h2>Training opportunities</h2>
      <p>
        We offer training opportunities to researchers from Nordic
        research groups (but we aim to expand beyond Nordics) to learn
        basic-to-advanced research computing skills and become confident
        in using state-of-the-art tools and practices from modern
        collaborative software engineering.
      </p>
      <a class="uk-button uk-button-primary" href="/workshops/upcoming/">More ›</a></p>
    </div>
  </div>

  <div>
    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
      <a href="/lessons/">
        {% set wordcloud = resize_image(path="img/wordcloud.png", width=200, op="fit_width") %}
        <img src="{{ wordcloud.url }}"
             alt="wordcloud"/>
      </a>
      <h2>Lesson materials</h2>
      <p>
        We develop and maintain training material on software best
        practices for researchers that already write code. Our material
        addresses all academic disciplines and tries to be as programming
        language-independent as possible.
      </p>
      <a class="uk-button uk-button-primary" href="/lessons/">More ›</a></p>
    </div>
  </div>
</div>
