<h2>Latest blog posts</h2>

{% set blogs = get_section(path="blog/_index.md") %}
<ul>
  {% for post in blogs.pages %}
    {% if loop.index < 6 %}
      <li>
        <a class="post-title" href="{{ post.permalink }}">
          {{ post.title }}
        </a>
        <span class="post-date">
          ({{ post.date }})
        </span>
        {% if post.description %}
          <div class="post-description">
            {{ post.description }}
          </div>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

<p>
  All our blog posts are summarized in the
  <a href="/blog/">blog post overview page</a>.
</p>
