{% extends "base.html" %}

{% block content %}
  <div id="top" class="top-buffer-more">
    <h1>404, page not found (or moved to coderefinery.github.io)</h1>
  </div>

  <p style="font-size:150%">
    Try going to <a id="redirect-link" href="NEWURL">NEWURL</a>
    instead.  If this does not work, clear your browser cache.
  </p>

  <script>
    newurl = document.URL.replace('coderefinery.org', 'coderefinery.github.io')

    link = document.getElementById('redirect-link')
    link.textContent = newurl
    link.href = newurl

    top = document.getElementById('top')
    top.textContent = top.textContent + link
  </script>


  <p>
    We had to change URLs for the lessons.  If you are looking for
    one of the CodeRefinery lessons, try changing <b>coderefinery.org</b> to
    <b>coderefinery.github.io</b> in the URL to find the page you want.
  </p>



  <p>
    This is not the page you are looking for ... return back to the
    <a href="/">index page</a>?
  </p>
{% endblock content %}
