<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ config.title }}</title>
    <link rel="shortcut icon" href="/img/favicon.ico">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.2/dist/css/uikit.min.css" integrity="sha256-pZpHRcj6CZFsRBMsTVN1REToJ5NifDqnDiHldc30NCs=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.2/dist/js/uikit.min.js" integrity="sha256-aelue+yPguqZ2R/rxKq0mc7aYS5hGssFutBxDMFPmXY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.2/dist/js/uikit-icons.min.js" integrity="sha256-B2F7jNPCGnXJUiAkZUB2rElbStXvhNgS/m+Aw1sRQwo=" crossorigin="anonymous"></script>

    {% block rss %}
      <link rel="alternate" type="application/atom+xml" title="CodeRefinery" href="{{ get_url(path="atom.xml", trailing_slash=false) }}" />
    {% endblock %}

    {% include "twitter.html" %}

    <link href="{{ get_url(path="style.css") }}" rel="stylesheet">
  </head>

  <body>
    <div class="uk-container uk-margin-large-bottom">

      {% include "navigation.html" %}

      <div class="markdown">
        {% block content %}
        {% endblock content %}
      </div>

      <hr>

      {% include "footer.html" %}

    </div>
  </body>
</html>
