<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{page.title}} - {% endif %}{{ config.title }}</title>
    <link rel="shortcut icon" href="/img/favicon.ico">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.2/dist/css/uikit.min.css" integrity="sha256-pZpHRcj6CZFsRBMsTVN1REToJ5NifDqnDiHldc30NCs=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.2/dist/js/uikit.min.js" integrity="sha256-aelue+yPguqZ2R/rxKq0mc7aYS5hGssFutBxDMFPmXY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.2/dist/js/uikit-icons.min.js" integrity="sha256-B2F7jNPCGnXJUiAkZUB2rElbStXvhNgS/m+Aw1sRQwo=" crossorigin="anonymous"></script>

    <!-- leaflet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.8.0/dist/leaflet.css" integrity="sha256-O4WK/g+HUIRMtgNwSRMA+lTFXVCZOSNwqMt2jboE8gg=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.8.0/dist/leaflet.js" integrity="sha256-OnFzHtqrwoenz6OjU3Z4SPDkER5Ih/vqRUvS5doFcZo=" crossorigin="anonymous"></script>

    <!-- https://github.com/Leaflet/Leaflet.markercluster -->
    <script src="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">

    <!-- to include the calendar -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% block rss %}
      <link rel="alternate" type="application/atom+xml" title="CodeRefinery" href="{{ get_url(path="atom.xml", trailing_slash=false) }}" />
    {% endblock %}

    {% include "twitter.html" %}

    <link href="{{ get_url(path="style.css") }}" rel="stylesheet">
  </head>

  <body>
    <div class="uk-container uk-margin-large-bottom">

      {% include "navigation.html" %}

      <div class="markdown">
        {% block content %}
        {% endblock content %}
      </div>

      <hr>

      {% include "footer.html" %}

    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
  <script>
    anchors.add();
  </script>
</html>
