{% extends "page.html" %}

{% block content %}
  {{ super() }}

  <div class="uk-child-width-expand@s" uk-grid>
    <div>
      <h3>Instructors/speakers</h3>
      <ul>
        {% set people = [] %}

        {% set data = load_data(path="content/workshops/full-workshops.yml") %}
        {% for event in data.events %}
          {% if event.instructors %}
            {% set_global people = people | concat(with=event.instructors) %}
          {% endif %}
        {% endfor %}

        {% set data = load_data(path="content/workshops/instructor-training.yml") %}
        {% for event in data.events %}
          {% if event.instructors %}
            {% set_global people = people | concat(with=event.instructors) %}
          {% endif %}
        {% endfor %}

        {% set data = load_data(path="content/workshops/other.yml") %}
        {% for event in data.events %}
          {% if event.instructors %}
            {% set_global people = people | concat(with=event.instructors) %}
          {% endif %}
        {% endfor %}

        {% for person in people | unique() | sort() %}
          <li>{{ person }}</li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <h3>Hosts, helpers, and team leaders</h3>
      <ul>
        {% set people = [] %}

        {% set data = load_data(path="content/workshops/full-workshops.yml") %}
        {% for event in data.events %}
          {% if event.hosts %}
            {% set_global people = people | concat(with=event.hosts) %}
          {% endif %}
          {% if event.helpers %}
            {% set_global people = people | concat(with=event.helpers) %}
          {% endif %}
        {% endfor %}

        {% set data = load_data(path="content/workshops/instructor-training.yml") %}
        {% for event in data.events %}
          {% if event.hosts %}
            {% set_global people = people | concat(with=event.hosts) %}
          {% endif %}
          {% if event.helpers %}
            {% set_global people = people | concat(with=event.helpers) %}
          {% endif %}
        {% endfor %}

        {% set data = load_data(path="content/workshops/other.yml") %}
        {% for event in data.events %}
          {% if event.hosts %}
            {% set_global people = people | concat(with=event.hosts) %}
          {% endif %}
          {% if event.helpers %}
            {% set_global people = people | concat(with=event.helpers) %}
          {% endif %}
        {% endfor %}

        {% for person in people | unique() | sort() %}
          <li>{{ person }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}
