      <footer class="text-muted">
        <div class="container">
          <div class="row">
            <div class="col-lg">
              <p>
                <strong>Funding</strong>
              </p>
              <p>
                CodeRefinery is a project within the
                <a href="https://neic.no" target="_blank">Nordic e-Infrastructure Collaboration</a> (NeIC).
                NeIC is an organisational unit under <a href="https://www.nordforsk.org/" target="_blank">NordForsk</a>.
              </p>
            </div>
            <div class="col-lg">
              <p>
                <strong>Privacy</strong>
              </p>
              <p>
                <a href="/privacy-policy/" target="_blank">Privacy policy</a>
              </p>
            </div>
            <div class="col-lg">
              <p>
                <strong>Follow us</strong>
              </p>
              <p>
                <a href="https://github.com/coderefinery" class="social" target="_blank">
                  <i class="bi bi-github" style="font-size: 2rem; color: black;"></i>
                </a>
                <a href="https://twitter.com/coderefine"  class="social" target="_blank">
                  <i class="bi bi-twitter" style="font-size: 2rem; color: cornflowerblue;"></i>
                </a>
              </p>
            </div>
            <div class="col-lg">
              <p>
                <strong>Contact</strong>
              </p>
              <p>
                <a href="mailto:support@coderefinery.org">support@coderefinery.org</a>
              </p>
            </div>
          </div>
      <!-- end footer -->

        </div>
    </footer>
