<div class="uk-child-width-expand@s" uk-grid>

  <div>
    <h4>Funding</h4>
    <p>
      CodeRefinery is a project within the
      <a href="https://neic.no" target="_blank">Nordic e-Infrastructure Collaboration</a> (NeIC).
      NeIC is an organisational unit under <a href="https://www.nordforsk.org/" target="_blank">NordForsk</a>.
    </p>
  </div>

  <div>
    <h4>Privacy</h4>
    <p>
      <a href="/privacy-policy/" target="_blank">Privacy policy</a>
    </p>
  </div>

  <div>
    <h4>Follow us</h4>
    <ul class="uk-iconnav">
      <li>
        <a href="https://github.com/coderefinery" target="_blank" uk-icon="icon: github">GitHub</a>
      </li>
      <li>
        <a rel="me" href="https://fosstodon.org/@coderefinery" target="_blank" uk-icon="icon: social">Mastodon</a>
      </li>
      <li>
        <a href="https://twitter.com/coderefine" target="_blank" uk-icon="icon: twitter">Twitter</a>
      </li>
    </ul>
  </div>

  <div>
    <h4>Contact</h4>
    <p>
      <a href="mailto:support@coderefinery.org">support@coderefinery.org</a>
    </p>
  </div>

</div>
