<div class="uk-child-width-expand@s" uk-grid>

  <div>
    <h2>Follow us</h2>
    <ul class="uk-iconnav">
      <li>
        <a href="https://github.com/coderefinery" target="_blank" uk-icon="icon: github">GitHub</a>
      </li>
      <li>
        <a rel="me" href="https://fosstodon.org/@coderefinery" target="_blank" uk-icon="icon: mastodon">Mastodon</a>
      </li>
      <li>
        <a href="https://bsky.app/profile/coderefinery.org" target="_blank" uk-icon="icon: bluesky">Bluesky</a>
      <li>
        <a href="https://www.linkedin.com/company/coderefinery-research-software-development/?viewAsMember=true" target="_blank" uk-icon="icon: linkedin">LinkedIn</a>
      </li>
    </ul>
  </div>

  <div>
    <h2>Contact</h2>
    <p>
      <a href="mailto:support@coderefinery.org">support@coderefinery.org</a>
    </p>
  </div>

</div>
