{% extends "base.html" %}

{% block content %}
  {% set data = load_data(path="content/about/funding/partners.toml") %}

  {% for partner in data.partners %}
    <div class="row top-buffer">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <h3><a href="{{ partner.website }}" target="_blank">{{ partner.name }}</a></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <a href="{{ partner.website }}" target="_blank">
          {% set image = resize_image(path="about/funding/" ~ partner.logo, width=120, op="fit_width") %}
          <img src="{{ image.url }}"
               alt="{{ partner.name }} logo">
        </a>
      </div>
      <div class="col-sm-8">
        <p>{{ partner.text }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock content %}
