{% extends "base.html" %}

{% block content %}
  <div class="uk-child-width-expand@s" uk-grid>
    <div>
      {% set coderefinery = resize_image(path="logo/coderefinery.png", width=300, op="fit_width") %}
      <img src="{{ coderefinery.url }}"
           alt="CodeRefinery logo" class="pull-left mr-2"/>

      {{ section.extra.news | markdown | safe }}

    </div>
    <div class="uk-width-2-3@m">
      {{ section.content | safe }}
    </div>
  </div>

  {{ section.extra.upcoming | markdown | safe }}

  <h2>Feedback and testimonials</h2>
  <div uk-slideshow="autoplay: true; autoplay-interval: 5000; animation: fade; ratio: 16:2">
    <ul class="uk-slideshow-items">
      {% set data = load_data(path="content/feedback.toml") %}
      {% for feedback in data.feedback %}
        <h3>{{ feedback.text }}</h3>
      {% endfor %}
    </ul>
  </div>
  <p>
    More feedback and testimonials
    <a href="https://github.com/coderefinery/feedback" target="_blank">here</a>.
  </p>

  <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <a href="/workshops/upcoming/">
          {% set classroom = resize_image(path="img/classroom.png", width=200, op="fit_width") %}
          <img src="{{ classroom.url }}"
               alt="picture of a classroom"/>
        </a>
        <h4 class="uk-card-title">Training opportunities</h4>
        <p>
          We offer training opportunities to researchers from Nordic
          research groups (but we aim to expand beyond Nordics) to learn
          basic-to-advanced research computing skills and become confident
          in using state-of-the-art tools and practices from modern
          collaborative software engineering.
        </p>
        <a class="uk-button uk-button-primary" href="/workshops/upcoming/">More ›</a></p>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <a href="/lessons/">
          {% set wordcloud = resize_image(path="img/wordcloud.png", width=200, op="fit_width") %}
          <img src="{{ wordcloud.url }}"
               alt="wordcloud"/>
        </a>
        <h4 class="uk-card-title">Lesson materials</h4>
        <p>
          We develop and maintain training material on software best
          practices for researchers that already write code. Our material
          addresses all academic disciplines and tries to be as programming
          language-independent as possible.
        </p>
        <a class="uk-button uk-button-primary" href="/lessons/">More ›</a></p>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <a href="/repository/">
          {% set terminal = resize_image(path="img/terminal.png", width=200, op="fit_width") %}
          <img src="{{ terminal.url }}"
               alt="image of a terminal"/>
        </a>
        <h4 class="uk-card-title">Code Repository Hosting</h4>
        <p>
          Our code repository hosting service is open and free for all
          researchers based in Nordic universities and research institutes
          and their collaborators.
        </p>
        <a class="uk-button uk-button-primary" href="/repository/">More ›</a></p>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <a href="https://researchsoftwarehour.github.io/">
          <img src="https://raw.githubusercontent.com/ResearchSoftwareHour/researchsoftwarehour.github.io/main/static/img/logo-hashbang.png"
               style="width: 150px; max-height: 122.55px;"
               alt="ResearchSoftwareHour logo"/>
        </a>
        <h4 class="uk-card-title">Research Software Hour</h4>
        <p>
          Online stream/show about scientific computing and research
          software. It is designed to provide the skills typically picked up
          via informal networks: we explore and discuss tools and how we
          program and compute.
        </p>
        <a class="uk-button uk-button-primary" href="https://researchsoftwarehour.github.io/">More ›</a></p>
      </div>
    </div>
  </div>

  <h2>Latest news/blogs</h2>
  <ul>
    {% set blogs = get_section(path="blog/_index.md") %}
    {% for post in blogs.pages %}
      <li><a href="{{ post.permalink }}">{{ post.title }}</a> ({{ post.date }})</li>
    {% endfor %}
  </ul>

  {% include "social-media-news.html" %}
{% endblock content %}
