{% macro list_of_events(data, linebreak, show_only_future) %}
  {% set now_unix_timestamp = now() | date(format="%s") | int %}
  <ul>
    {% for event in data.events %}
    {% set event_unix_timestamp = event.start_date | date(format="%s") | int %}
    {% set in_future = now_unix_timestamp < event_unix_timestamp %}
    {% if in_future or not show_only_future %}
    <li>
      {% if event.website %}
        <a href="{{ event.website }}" target=_blank>{{ event.name }}</a>
      {% else %}
        {{ event.name }}
      {% endif %}
      <div style="color: #b0b0b0; display: inline;">
      {% if linebreak %}
        <br>
      {% else %}
        &nbsp;
      {% endif %}
      {% if event.start_date == event.end_date %}
        {{ event.start_date | date(format="%b %_d, %Y") }}
      {% else %}
        {{ event.start_date | date(format="%b %_d") }}
        -
        {{ event.end_date | date(format="%b %_d, %Y") }}
      {% endif %}
      {% if event.num_participants %}
        &nbsp;
        ({{ event.num_participants.total }} participants)
      {% endif %}
      </div>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
{% endmacro list_of_events %}

{% macro place_markers(data) %}
  {% for event in data.events %}
    {% if event.location %}
      var marker = L.marker(new L.LatLng({{ event.location.lat }}, {{ event.location.lon }}));
    {% else %}
      // this is an online event so we place it in the ocean until we
      // find a better rendering
      var marker = L.marker(new L.LatLng(65.0, 0.0));
    {% endif %}
    markers.addLayer(marker);
  {% endfor %}
{% endmacro place_markers %}

{% macro table(data) %}
  <p>
    Number of participants by country of affiliation.
    "Total" does not mean sum since some countries are not listed.
  </p>
  <div class="statistics">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 30%"></th>
          <th scope="col" style="width: 20%"></th>
          <th scope="col" class="text-center">Sweden</th>
          <th scope="col" class="text-center">Norway</th>
          <th scope="col" class="text-center">Finland</th>
          <th scope="col" class="text-center">Denmark</th>
          <th scope="col" class="text-center">Estonia</th>
          <th scope="col" class="text-center">Iceland</th>
          <th scope="col" class="text-center">Netherlands</th>
          <th scope="col" class="text-center">Total</th>
        </tr>
      </thead>
      <tbody>
        {% set SE_total = 0 %}
        {% set NO_total = 0 %}
        {% set FI_total = 0 %}
        {% set DK_total = 0 %}
        {% set EE_total = 0 %}
        {% set IS_total = 0 %}
        {% set NL_total = 0 %}
        {% set total_total = 0 %}
        {% for event in data.events %}
          <tr>
            <th scope="row">
              {% if event.website %}
                <a href="{{ event.website }}" target=_blank>{{ event.name }}</a>
              {% else %}
                {{ event.name }}
              {% endif %}
            </th>
            <td>
              {% if event.start_date == event.end_date %}
                {{ event.start_date | date(format="%b %_d, %Y") }}
              {% else %}
                {{ event.start_date | date(format="%b %_d") }}
                -
                {{ event.end_date | date(format="%b %_d, %Y") }}
              {% endif %}
            </td>
            <td class="text-center">
              {% if event.num_participants.SE %}
                {{ event.num_participants.SE }}
                {% set_global SE_total = SE_total + event.num_participants.SE %}
              {% endif %}
            </td>
            <td class="text-center">
              {% if event.num_participants.NO %}
                {{ event.num_participants.NO }}
                {% set_global NO_total = NO_total + event.num_participants.NO %}
              {% endif %}
            </td>
            <td class="text-center">
              {% if event.num_participants.FI %}
                {{ event.num_participants.FI }}
                {% set_global FI_total = FI_total + event.num_participants.FI %}
              {% endif %}
            </td>
            <td class="text-center">
              {% if event.num_participants.DK %}
                {{ event.num_participants.DK }}
                {% set_global DK_total = DK_total + event.num_participants.DK %}
              {% endif %}
            </td>
            <td class="text-center">
              {% if event.num_participants.EE %}
                {{ event.num_participants.EE }}
                {% set_global EE_total = EE_total + event.num_participants.EE %}
              {% endif %}
            </td>
            <td class="text-center">
              {% if event.num_participants.IS %}
                {{ event.num_participants.IS }}
                {% set_global IS_total = IS_total + event.num_participants.IS %}
              {% endif %}
            </td>
            <td class="text-center">
              {% if event.num_participants.NL %}
                {{ event.num_participants.NL }}
                {% set_global NL_total = NL_total + event.num_participants.NL %}
              {% endif %}
            </td>
            <td class="text-center">
              {% if event.num_participants.total %}
                {{ event.num_participants.total }}
                {% set_global total_total = total_total + event.num_participants.total %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        <tr>
          <th scope="row">
            Total
          </th>
          <td>
          </td>
          <td class="text-center">
            {{ SE_total }}
          </td>
          <td class="text-center">
            {{ NO_total }}
          </td>
          <td class="text-center">
            {{ FI_total }}
          </td>
          <td class="text-center">
            {{ DK_total }}
          </td>
          <td class="text-center">
            {{ EE_total }}
          </td>
          <td class="text-center">
            {{ IS_total }}
          </td>
          <td class="text-center">
            {{ NL_total }}
          </td>
          <td class="text-center">
            {{ total_total }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endmacro table %}
