{% set data = load_data(path="content/navigation.yml") %}

{% for link in data.navigation %}
  <li>

    {% set href = "#" %}
    {% if link.target is defined %}
      {% if link.target is starting_with("http") %}
        {% set href = link.target %}
      {% else %}
        {% set href = get_url(path=link.target) %}
      {% endif %}
    {% endif %}

    {% set contains_dropdown = link.items is defined %}

    <a href="{{ href }}">
      {{ link.name }}
      {% if contains_dropdown %}
        <span uk-navbar-parent-icon></span>
      {% endif %}
    </a>

    {% if contains_dropdown %}
      {% if not unroll %}
      <div class="uk-navbar-dropdown">
      {% endif %}
        <ul class="uk-nav uk-navbar-dropdown-nav">
          {% for subitem in link.items %}
            <li>
            {% if subitem.target is starting_with("http") %}
              <a href="{{ subitem.target }}" target="_blank">{{ subitem.name }}</a>
            {% else %}
              <a href="{{ get_url(path=subitem.target) }}">{{ subitem.name }}</a>
            {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% if not unroll %}
      </div>
      {% endif %}
    {% endif %}

  </li>
{% endfor %}
