<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav uk-visible@s">
      {% for item in config.extra.navigation %}
        {% if item.target is defined %}
          {% if item.target is starting_with("http") %}
            <li><a href="{{ item.target }}" target="_blank">{{ item.name }}</a></li>
          {% else %}
            <li><a href="{{ get_url(path=item.target) }}">{{ item.name }}</a></li>
          {% endif %}
        {% else %}
          <li>
            <a href="#">{{ item.name }}<span uk-navbar-parent-icon></span></a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                {% for subitem in item.items %}
                  {% if subitem.target is starting_with("http") %}
                    <li><a href="{{ subitem.target }}" target="_blank">{{ subitem.name }}</a></li>
                  {% else %}
                    <li><a href="{{ get_url(path=subitem.target) }}">{{ subitem.name }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
  </div>
</nav>

<div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav">
      {% for item in config.extra.navigation %}
        {% if item.target is defined %}
          {% if item.target is starting_with("http") %}
            <li><a href="{{ item.target }}" target="_blank">{{ item.name }}</a></li>
          {% else %}
            <li><a href="{{ get_url(path=item.target) }}">{{ item.name }}</a></li>
          {% endif %}
        {% else %}
          <li>
            <a href="#">{{ item.name }}<span uk-navbar-parent-icon></span></a>
            <ul class="uk-nav uk-navbar-dropdown-nav">
              {% for subitem in item.items %}
                {% if subitem.target is starting_with("http") %}
                  <li><a href="{{ subitem.target }}" target="_blank">{{ subitem.name }}</a></li>
                {% else %}
                  <li><a href="{{ get_url(path=subitem.target) }}">{{ subitem.name }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
