<h2>Funding partners</h2>

<div class="logo-container">
  <a href="https://neic.no" target="_blank">
    <img width="110px" src="/about/funding/neic.png" alt="logo: Nordic e-Infrastructure Collaboration">
  </a>

  <a href="https://scicomp.aalto.fi" target="_blank">
    <img width="80px" src="/about/funding/asc.png" alt="logo: Aalto Scientific Computing">
  </a>

  <a href="https://www.csc.fi" target="_blank">
    <img width="100px" src="/about/funding/csc.png" alt="logo: CSC - IT Center for Science">
  </a>

  <a href="https://chc.au.dk" target="_blank">
    <img width="120px" src="/about/funding/chc.png" alt="logo: Center for Humanities Computing">
  </a>

  <a href="https://deic.dk" target="_blank">
    <img width="80px" src="/about/funding/deic.png" alt="logo: Danish e-Infrastructure Consortium">
  </a>

  <a href="https://enccs.se" target="_blank">
    <img width="120px" src="/about/funding/enccs.png" alt="logo: EuroCC National Competence Center Sweden (ENCCS)">
  </a>

  <a href="https://www.naiss.se" target="_blank">
    <img width="120px" src="/about/funding/naiss.jpg" alt="logo: National Academic Infrastructure for Super­computing in Sweden (NAISS)">
  </a>

  <a href="https://www.sigma2.no" target="_blank">
    <img width="120px" src="/about/funding/nris-sigma2.png" alt="logo: NRIS/Sigma2">
  </a>

  <a href="https://www.usit.uio.no" target="_blank">
    <img width="70px" src="/about/funding/uio.jpg" alt="logo: UiO/USIT">
  </a>
</div>
