{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block content %}
  {{ page.content|safe }}

  <div class="uk-margin-large-bottom">
    <div id="map" style="width: 100%; height: 400px;"></div>
    <p class="uk-text-meta">(locations "in the ocean" represent online events)</p>
  </div>

  <script type="text/javascript">
    var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
                  attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }),
                latlng = L.latLng(63.0, 2.0);

    var map = L.map('map', {center: latlng, zoom: 4, layers: [tiles]});

    var markers = L.markerClusterGroup();

    {% set data = load_data(path="content/workshops/full-workshops.json") %}
    {{ macros::place_markers(data=data) }}

    {% set data = load_data(path="content/workshops/instructor-training.json") %}
    {{ macros::place_markers(data=data) }}

    {% set data = load_data(path="content/workshops/other.json") %}
    {{ macros::place_markers(data=data) }}

    map.addLayer(markers);
  </script>

  <div class="uk-child-width-expand@s" uk-grid>
    <div>
      <h3>Standard CodeRefinery workshops</h3>
      {% set data = load_data(path="content/workshops/full-workshops.json") %}
      {{ macros::list_of_events(data=data, linebreak=false, show_only_future=false) }}

      <h3>Open house events</h3>
      <ul>
        {% set events = get_section(path="open-house/_index.md") %}
        {% for page in events.pages %}
          <li>
            <a href="{{ page.permalink }}">{{ page.title }}</a>
            <div style="color: #b0b0b0; display: inline;">
              ({{ page.date | date(format="%b %d, %Y") }})
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <h3>Instructor training events</h3>
      {% set data = load_data(path="content/workshops/instructor-training.json") %}
      {{ macros::list_of_events(data=data, linebreak=false, show_only_future=false) }}

      <h3>Shorter workshops and other events</h3>
      {% set data = load_data(path="content/workshops/other.json") %}
      {{ macros::list_of_events(data=data, linebreak=true, show_only_future=false) }}
    </div>
  </div>
{% endblock content %}
