{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block content %}
  <article class="uk-article">

    <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{ page.title }}</a></h1>

    <p class="uk-article-meta">
      {% if page.description %}
        <h3 class="uk-article-title">
          {{ page.description }}
        </h3>
      {% endif %}
      {{ page.date | date(format="%B %d, %Y") }}
      {% if page.extra.authors %}
        - {{ page.extra.authors }}
      {% endif %}
    </p>

    <hr>

    {{ page.content | replace(from="<!-- toc -->", to=macros::toc(page=page)) | safe }}

  </article>
{% endblock content %}
