<h2>Stay informed and connected</h2>
<div class="uk-child-width-expand@s" uk-grid>

  <div>
    <h3>
      Mastodon
      (<a href="https://fosstodon.org/@coder
efinery">@coderefinery@fosstodon.org</a>)
    </h3>
    <a href="https://coderefinery.org/blog/2022/11/08/mastodon/">Joining hints</a>.
    <iframe allowfullscreen sandbox="allow-top-navigation allow-scripts" width="100%" height="500" src="https://www.mastofeed.com/apiv2/feed?userurl=https%3A%2F%2Ffosstodon.org%2Fusers%2Fcoderefinery&theme=auto&size=80&header=true&replies=true&boosts=true"></iframe>

  </div>

  <div>
    <h3>Twitter</h3>
    <a class="twitter-timeline" data-width="100%" data-height="600" href="https://twitter.com/coderefine">Tweets by coderefine</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <div>
    <h3>Newsletter</h3>
    <p>
      This is a low traffic newsletter about our events and updates: One email every 1 or 2 months
      (<a href="https://tinyletter.com/coderefinery">archives</a>).
    </p>
    <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/coderefinery" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/coderefinery', 'popupwindow', 'scrollbars=yes,width=600,height=600');return true"><p><label for="tlemail">Enter your email address to sign up for the CodeRefinery newsletter</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>
  </div>

</div>
