    {% if page.title %}
      <title>CodeRefinery - {{ page.title }}</title>
      <meta name="twitter:title" content="{{ page.title }}" />
      <meta property="og:title" content="{{ page.title }}" />
      <meta property="og:site_name" content="{{ config.title }}" />
    {% else %}
      <title>CodeRefinery</title>
      <meta name="twitter:title" content="{{ config.title }}" />
      <meta property="og:title" content="{{ config.title }}" />
    {% endif %}

    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
      <meta name="twitter:description" content="{{ page.description }}" />
      <meta property="og:description" content="{{ page.description }}" />
    {% else %}
      <meta name="description" content="{{ config.description }}" />
      <meta name="twitter:description" content="{{ config.description }}" />
      <meta property="og:description" content="{{ config.description }}" />
    {% endif %}

    {% if config.extra.twitter_image %}
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:image" content="{{ config.extra.twitter_image | safe }}" />
      <meta property="og:image" content="{{ config.extra.twitter_image | safe }}" />
    {% endif %}
